body{
    margin: 0;
    background-image: url("../img/sssurf.svg");
}
.login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #303030;
    box-shadow: 0 0 30px rgb(66, 66, 66);

    height: 250px;
    width: 200px;
}
.login input{
    margin-top: 10px;
    text-align: center;
}
.login h1{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}